{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block inner_content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome to {{config.APP_NAME}}</h1>
            <p>Be the first to know when ClinVar re-classifies your variant of interest.</p>
            <a class="btn btn-primary btn-lg" href="/subscribe" role="button">Subscribe to a variant</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title h1">{{ stats.subscribed_variants }}</h2>
                        <p class="card-text">variants being tracked</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title h1">{{ stats.last_updated.strftime('%Y-%m-%d') }}</h2>
                        <p class="card-text">last updated</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{%- endblock %}

