{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{%- extends "base.html" %}

{% block inner_content %}
    <div class="container">
        <h1>Preferences</h1>
        <h2>Welcome, {{ user.email }}!</h2>
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    {% if variants_form is defined %}
                        {{ variants_form.hidden_tag() }}
                        {{ wtf.quick_form(variants_form, button_map={'remove': 'warning'}) }}
                    {% else %}
                        No variants found.
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6">
                {% if user.slack %}
                    <form action="/account/remove_slack" method="post">
                        Slack is configured! <span class="glyphicon glyphicon-check"></span>{{ remove_slack_form.hidden_tag() }}
                        {{ wtf.form_field(remove_slack_form.remove_slack, button_map={'remove_slack': 'warning'}) }}
                    </form>
                {% else %}
                    <a href="https://slack.com/oauth/authorize?&client_id=229170903971.240424418293&scope=incoming-webhook&state={{ user.token }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a><br/>
                {% endif %}
                <form method="post" action="/account/update/">
                    {{ form.hidden_tag() }}
                    <h4>Notification type</h4>
                    <p>
                        Email {{ form.notify_emails }}
                        Slack {{ form.notify_slack(disabled=not user.slack) }}
                    </p>
                    <h4>Transitions - <a id="select_all" onclick="select_options(true)">Select All</a> - <a id="select_none" onclick="select_options(false)">Select None</a><br/></h4>
                        <table id="option_table" class="table table-bordered">
                            <tr>
                                <th>From <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></th>
                                <th>To <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></th>
                                <th>Benign</th>
                                <th>VUS</th>
                                <th>Pathogenic</th>
                            </tr>
                            <tr>
                                <th colspan="2">Unknown/Not in ClinVar</th>
                                <td class="table_option">{{ form.unknown_to_benign }}</td>
                                <td class="table_option">{{ form.unknown_to_vus }}</td>
                                <td class="table_option">{{ form.unknown_to_path }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Benign</th>
                                <td>{{ form.benign_to_benign(disabled=True) }}</td>
                                <td class="table_option">{{ form.benign_to_vus }}</td>
                                <td class="table_option">{{ form.benign_to_path }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">VUS</th>
                                <td class="table_option">{{ form.vus_to_benign }}</td>
                                <td>{{ form.vus_to_vus(disabled=True) }}</td>
                                <td class="table_option">{{ form.vus_to_path }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Pathogenic</th>
                                <td class="table_option">{{ form.path_to_vus }}</td>
                                <td class="table_option">{{ form.path_to_benign }}</td>
                                <td>{{ form.path_to_path(disabled=True) }}</td>
                            </tr>
                        </table><br/>
                    {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    <br/>
                </form>
            <br/>
            <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete your account</button>
            </div>
        </div>
        <div id="delete_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete account</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form action="/account/delete/" method="post">
                            <a class="btn btn-default" data-dismiss="modal">Close</a>&nbsp;
                            {{ form.hidden_tag() }}{{ wtf.form_field(delete_form.delete, button_map={'delete': 'danger'}) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
    <script>
        function select_options(option) {
            $('td.table_option > input').prop('checked', option);
        }
    </script>
{%- endblock %}
