{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Preferences</h1>
        <h2>Welcome, {{ user.email }}!</h2>
        <h3>Change your notification preferences</h3>

        {% if user.slack %}
            Slack is configured! <span class="glyphicon glyphicon-check"></span><form method="post">wtf.form_field(remove_slack_form.remove_slack)</form>
        {% else %}
            <a href="https://slack.com/oauth/authorize?&client_id=229170903971.240424418293&scope=incoming-webhook&state={{ user.token }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        {% endif %}

        <br/><br/>
        By default, you will be notified for all changes to ClinVar status. <br/>
        Check the variant transitions for you would like to be notified and click Update Preferences.<br/><br/>
        <form method="post">
        {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
    {#                    TODO: select all and select none buttons#}
                        <tr>
                            <th>From <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></th>
                            <th>To <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></th>
                            <th>Benign</th>
                            <th>VUS</th>
                            <th>Pathogenic</th>
                        </tr>
                        <tr>
                            <th colspan="2">Unknown/Not in ClinVar</th>
                            <td>{{ form.unknown_to_benign(checked=user.unknown_to_benign) }}</td>
                            <td>{{ form.unknown_to_vus(checked=True) }}</td>
                            <td>{{ form.unknown_to_path(checked=True) }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Benign</th>
                            <td>{{ form.benign_to_benign(disabled=True) }}</td>
                            <td>{{ form.benign_to_vus(checked=True) }}</td>
                            <td>{{ form.benign_to_path(checked=True) }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">VUS</th>
                            <td>{{ form.vus_to_benign(checked=True) }}</td>
                            <td>{{ form.vus_to_vus(disabled=True) }}</td>
                            <td>{{ form.vus_to_path(checked=True) }}</td>
                        </tr>
                        <tr>
                            <th colspan="2">Pathogenic</th>
                            <td>{{ form.path_to_vus(checked=True) }}</td>
                            <td>{{ form.path_to_benign(checked=True) }}</td>
                            <td>{{ form.path_to_path(disabled=True) }}</td>
                        </tr>
                    </table><br/>
                </div>
            </div>
            {{ wtf.form_field(form.submit) }}
            <br/>
        </form>
        <h3>Delete your account</h3>
        <form method="post">{{ wtf.form_field(delete_form.delete) }}</form>
    </div>
    {{ super() }}
{%- endblock %}
