{%- extends "bootstrap/base.html" %}

{% block title %}Variant Facts{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='vss.css')}}">
{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}

{% block content -%}
	{% block messages -%}
	{%- with messages = get_flashed_messages(with_categories=True) %}
	    {%- if messages %}
	        {{utils.flashed_messages(messages)}}
	    {%- endif %}
	{%- endwith %}
	{%- endblock messages %}

	{% block inner_content -%}
	{%- endblock inner_content %}

	{% block footer -%}
	<footer class="footer">
	    <div class="container">
	        <p class="text-muted">Made at <a href="http://2017.biohackathon.org" target="_blank">BioHackathon 2017</a></p>
	    </div>
	</footer>
	{%- endblock footer %}
{%- endblock content %}
