{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block inner_content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Variant Subscription Service</h1>
            <p>Join the millions of people who have subscribed to Clinvar updates for their favorite variants.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
            {{ stats.subscribed_variants }} variants being tracked so far!
            </div>
        </div>
    </div>
    {{ super() }}
{%- endblock %}

