{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Signup for our awesome service</h1>
        </div>
        <div class="col-md-12">
            <form method="post">
                {{ form.hidden_tag() }}
{#                {{ wtf.form_field(form.email)}}#}
{#                <div class="row">#}
{#                    {{ wtf.form_field(form.chromosome, form_type='horizontal', horizontal_columns=('lg', 1, 1)) }}#}
{#                    {{ wtf.form_field(form.position,   form_type='horizontal', horizontal_columns=('lg', 1, 1)) }}#}
{#                    {{ wtf.form_field(form.reference,  form_type='horizontal', horizontal_columns=('lg', 1, 1)) }}#}
{#                    {{ wtf.form_field(form.alternate,  form_type='horizontal', horizontal_columns=('lg', 1, 1)) }}#}
{#                </div>#}
{#                <div class="row">#}
{#                    {{ wtf.form_field(form.eula) }}#}
{#                </div>#}
{#                {{ wtf.form_field(form.submit) }}#}
                {{ wtf.quick_form(form) }}
            </form>
        </div>
    </div>
    <h1>Form Errors</h1>
    {{ form.errors }}
{%- endblock %}